{% extends 'basePer.html' %}

{% block titulo %}
Actualizaciòn Servicios
{% endblock %}

{% block estilos %}
<link href="/static/css/columnas.css" rel="stylesheet">
{% endblock %}

{% block encabezado %}
Actualizaciòn de Servicios
{% endblock %}

{% block nav %}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://www.uv.mx">
      <img src="/static/images/logoUV.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Ir a UV
    </a>
    <a class="navbar-brand" href="/monitoreo">
      <img src="/static/images/regresar.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Regresar
    </a>
  </div>
</nav>
{% endblock %}


{% block contenido %}
<body background="/static/images/Imagen-de-fondo-html.jpg"></body>

{% if errores %}
<div id="erorres">
  <ul>
    {% for error in errores %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}

<form id="formulario" action="/actualizar_Ser" method="POST" class="fila">
  {% csrf_token %} 
  <div class="col-4"></div>
  <fieldset class="col-4" style="background-color: rgb(36, 94, 209); font-size: x-large; color: aliceblue;">
    <legend style="font-size: x-large; color: aliceblue;">Actualizaciòn de Servidor</legend>
    
    <div class="form-group" class="fila">
      <div>
	<label for="ip">Dirección IP del Servidor:</label>
      </div>
      <div>
	<input type="text" name="ip" id="ip"  placeholder="Ingresa dirección IP" class="col-11">
      </div>      
    </div>   
    
    <div class="form-group" class="fila">
      <div>
	<label for="hostname">Hostname:</label>
      </div>
      <div>
	<input type="text" name="hostname" id="hostname"  placeholder="Ingresa el hostname" class="col-11">
      </div>
    </div>


    <div class="form-group" class="fila">
      <div>
        <label for="password">Contraseña:</label>
      </div>
      <div>
        <input type="password" name="password" id="password"  placeholder="Ingresa la contraseña" class="col-11">
      </div>
    </div>


    <br><button type="submit" class="btn btn-success">Actualizar</button>
    
  </fieldset>
  <div class="col-4"></div>
</form>

{% endblock %}

{% block footer %}
<footer style="color: aliceblue;"><br>
    *Univesidad Veracruzana 2023
</footer>
{% endblock %}
